# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("./Resources/applicants_data.csv"))

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)  ## this could also be done with appkicant_data_df.dtypes()

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN","NAME"])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 


categorical_variables = ['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS']

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame

encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
applicant_float = applicant_data_df[["IS_SUCCESSFUL","STATUS"]] ### created a new variable for the numerical columns of applicant_data_df for easier 

encoded_df[["IS_SUCCESSFUL","STATUS"]] = applicant_float #### had a lot of problems concatinating getting a ton of NaN which threw everything off so I went without it 

# Review the Dataframe
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,IS_SUCCESSFUL,STATUS
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0,1

# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame


# Review the Dataframe
### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"].values

# Display a sample of y
y

array([1, 1, 0, ..., 0, 1, 0], dtype=int64)

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns="IS_SUCCESSFUL").values

# Review the features DataFrame
X

array([[1., 0., 0., ..., 1., 0., 1.],
       [0., 0., 0., ..., 1., 0., 1.],
       [0., 0., 0., ..., 1., 0., 1.],
       ...,
       [0., 0., 0., ..., 1., 0., 1.],
       [0., 0., 0., ..., 1., 0., 1.],
       [0., 0., 0., ..., 1., 0., 1.]])

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [13]:
X_test

array([[0., 0., 0., ..., 1., 0., 1.],
       [0., 0., 0., ..., 1., 0., 1.],
       [0., 0., 0., ..., 1., 0., 1.],
       ...,
       [1., 0., 0., ..., 1., 0., 1.],
       [0., 0., 0., ..., 1., 0., 1.],
       [0., 0., 0., ..., 1., 0., 1.]])

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = 115

# Review the number of features
number_input_features

115

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 2

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  9

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

9

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 3

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

3

In [19]:
# Create the Sequential model instance
nn = Sequential()

In [20]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [21]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="linear"))

In [23]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 9)                 1044
_________________________________________________________________
dense_1 (Dense)              (None, 3)                 30
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 4
=================================================================
Total params: 1,078
Trainable params: 1,078
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
nn.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [25]:
# Fit the model using 50 epochs and the training data
deep_net_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 0s 360us/step - loss: 0.4218 - mse: 0.4218
Epoch 2/50
804/804 [==============================] - 0s 376us/step - loss: 0.2419 - mse: 0.2419
Epoch 3/50
804/804 [==============================] - 0s 380us/step - loss: 0.2202 - mse: 0.2202
Epoch 4/50
804/804 [==============================] - 0s 366us/step - loss: 0.2116 - mse: 0.2116
Epoch 5/50
804/804 [==============================] - 0s 372us/step - loss: 0.2081 - mse: 0.2081
Epoch 6/50
804/804 [==============================] - 0s 373us/step - loss: 0.2008 - mse: 0.2008
Epoch 7/50
804/804 [==============================] - 0s 365us/step - loss: 0.1981 - mse: 0.1981
Epoch 8/50
804/804 [==============================] - 0s 366us/step - loss: 0.1972 - mse: 0.1972
Epoch 9/50
804/804 [==============================] - 0s 370us/step - loss: 0.1962 - mse: 0.1962
Epoch 10/50
804/804 [==============================] - 0s 381us/step - loss: 0.1961 - mse: 0.1961
Epoch 11/50
804/804 [==============================] - 0s 365us/step - loss: 0.1938 - mse: 0.1938
Epoch 12/50
804/804 [==============================] - 0s 368us/step - loss: 0.1925 - mse: 0.1925
Epoch 13/50
804/804 [==============================] - 0s 363us/step - loss: 0.1921 - mse: 0.1921
Epoch 14/50
804/804 [==============================] - 0s 364us/step - loss: 0.1914 - mse: 0.1914
Epoch 15/50
804/804 [==============================] - 0s 368us/step - loss: 0.1908 - mse: 0.1908
Epoch 16/50
804/804 [==============================] - 0s 363us/step - loss: 0.1898 - mse: 0.1898
Epoch 17/50
804/804 [==============================] - 0s 363us/step - loss: 0.1900 - mse: 0.1900
Epoch 18/50
804/804 [==============================] - 0s 366us/step - loss: 0.1894 - mse: 0.1894
Epoch 19/50
804/804 [==============================] - 0s 379us/step - loss: 0.1893 - mse: 0.1893
Epoch 20/50
804/804 [==============================] - 0s 372us/step - loss: 0.1891 - mse: 0.1891
Epoch 21/50
804/804 [==============================] - 0s 364us/step - loss: 0.1886 - mse: 0.1886
Epoch 22/50
804/804 [==============================] - 0s 370us/step - loss: 0.1887 - mse: 0.1887
Epoch 23/50
804/804 [==============================] - 0s 361us/step - loss: 0.1884 - mse: 0.1884
Epoch 24/50
804/804 [==============================] - 0s 363us/step - loss: 0.1886 - mse: 0.1886
Epoch 25/50
804/804 [==============================] - 0s 366us/step - loss: 0.1884 - mse: 0.1884
Epoch 26/50
804/804 [==============================] - 0s 371us/step - loss: 0.1884 - mse: 0.1884
Epoch 27/50
804/804 [==============================] - 0s 375us/step - loss: 0.1882 - mse: 0.1882
Epoch 28/50
804/804 [==============================] - 0s 364us/step - loss: 0.1883 - mse: 0.1883
Epoch 29/50
804/804 [==============================] - 0s 369us/step - loss: 0.1882 - mse: 0.1882
Epoch 30/50
804/804 [==============================] - 0s 363us/step - loss: 0.1881 - mse: 0.1881
Epoch 31/50
804/804 [==============================] - 0s 361us/step - loss: 0.1879 - mse: 0.1879
Epoch 32/50
804/804 [==============================] - 0s 368us/step - loss: 0.1880 - mse: 0.1880
Epoch 33/50
804/804 [==============================] - 0s 363us/step - loss: 0.1879 - mse: 0.1879
Epoch 34/50
804/804 [==============================] - 0s 365us/step - loss: 0.1878 - mse: 0.1878
Epoch 35/50
804/804 [==============================] - 0s 365us/step - loss: 0.1877 - mse: 0.1877
Epoch 36/50
804/804 [==============================] - 0s 368us/step - loss: 0.1875 - mse: 0.1875
Epoch 37/50
804/804 [==============================] - 0s 368us/step - loss: 0.1878 - mse: 0.1878
Epoch 38/50
804/804 [==============================] - 0s 363us/step - loss: 0.1873 - mse: 0.1873
Epoch 39/50
804/804 [==============================] - 0s 376us/step - loss: 0.1876 - mse: 0.1876
Epoch 40/50
804/804 [==============================] - 0s 388us/step - loss: 0.1875 - mse: 0.1875
Epoch 41/50
804/804 [==============================] - 0s 385us/step - loss: 0.1874 - mse: 0.1874
Epoch 42/50
804/804 [==============================] - 0s 377us/step - loss: 0.1873 - mse: 0.1873
Epoch 43/50
804/804 [==============================] - 0s 388us/step - loss: 0.1873 - mse: 0.1873
Epoch 44/50
804/804 [==============================] - 0s 370us/step - loss: 0.1873 - mse: 0.1873
Epoch 45/50
804/804 [==============================] - 0s 367us/step - loss: 0.1872 - mse: 0.1872
Epoch 46/50
804/804 [==============================] - 0s 376us/step - loss: 0.1872 - mse: 0.1872
Epoch 47/50
804/804 [==============================] - 0s 368us/step - loss: 0.1872 - mse: 0.1872
Epoch 48/50
804/804 [==============================] - 0s 367us/step - loss: 0.1872 - mse: 0.1872
Epoch 49/50
804/804 [==============================] - 0s 366us/step - loss: 0.1871 - mse: 0.1871
Epoch 50/50
804/804 [==============================] - 0s 363us/step - loss: 0.1872 - mse: 0.1872

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = model_loss, model_mse = nn.evaluate(X_test_scaled, y_test, verbose=2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.1899 - mse: 0.1899
Loss: 0.18988637626171112, Accuracy: 0.18988637626171112

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [28]:
# Set the model's file path
file_path = Path("Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [35]:
# Define the the number of inputs (features) to the model
number_input_features = 115

# Review the number of features
number_input_features

115

In [36]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 3

In [37]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 =13

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

13

In [38]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [62]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))


# Output layer
nn_A1.add(Dense(units=1, activation="linear"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 9)                 1044
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 10
_________________________________________________________________
dense_7 (Dense)              (None, 9)                 18
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 10
=================================================================
Total params: 1,082
Trainable params: 1,082
Non-trainable params: 0
_________________________________________________________________

In [63]:
# Compile the Sequential model
nn_A1.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [64]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 0s 368us/step - loss: 0.1892 - mse: 0.1892
Epoch 2/50
804/804 [==============================] - 0s 370us/step - loss: 0.1838 - mse: 0.1838
Epoch 3/50
804/804 [==============================] - 0s 373us/step - loss: 0.1837 - mse: 0.1837
Epoch 4/50
804/804 [==============================] - 0s 368us/step - loss: 0.1835 - mse: 0.1835
Epoch 5/50
804/804 [==============================] - 0s 370us/step - loss: 0.1835 - mse: 0.1835
Epoch 6/50
804/804 [==============================] - 0s 371us/step - loss: 0.1833 - mse: 0.1833
Epoch 7/50
804/804 [==============================] - 0s 372us/step - loss: 0.1830 - mse: 0.1830
Epoch 8/50
804/804 [==============================] - 0s 371us/step - loss: 0.1830 - mse: 0.1830
Epoch 9/50
804/804 [==============================] - 0s 371us/step - loss: 0.1828 - mse: 0.1828
Epoch 10/50
804/804 [==============================] - 0s 380us/step - loss: 0.1830 - mse: 0.1830
Epoch 11/50
804/804 [==============================] - 0s 383us/step - loss: 0.1829 - mse: 0.1829
Epoch 12/50
804/804 [==============================] - 0s 399us/step - loss: 0.1828 - mse: 0.1828
Epoch 13/50
804/804 [==============================] - 0s 379us/step - loss: 0.1826 - mse: 0.1826
Epoch 14/50
804/804 [==============================] - 0s 373us/step - loss: 0.1827 - mse: 0.1827
Epoch 15/50
804/804 [==============================] - 0s 368us/step - loss: 0.1827 - mse: 0.1827
Epoch 16/50
804/804 [==============================] - 0s 372us/step - loss: 0.1827 - mse: 0.1827
Epoch 17/50
804/804 [==============================] - 0s 375us/step - loss: 0.1825 - mse: 0.1825
Epoch 18/50
804/804 [==============================] - 0s 372us/step - loss: 0.1826 - mse: 0.1826
Epoch 19/50
804/804 [==============================] - 0s 373us/step - loss: 0.1824 - mse: 0.1824
Epoch 20/50
804/804 [==============================] - 0s 378us/step - loss: 0.1824 - mse: 0.1824
Epoch 21/50
804/804 [==============================] - 0s 386us/step - loss: 0.1823 - mse: 0.1823
Epoch 22/50
804/804 [==============================] - 0s 384us/step - loss: 0.1824 - mse: 0.1824
Epoch 23/50
804/804 [==============================] - 0s 369us/step - loss: 0.1822 - mse: 0.1822
Epoch 24/50
804/804 [==============================] - 0s 375us/step - loss: 0.1822 - mse: 0.1822
Epoch 25/50
804/804 [==============================] - 0s 368us/step - loss: 0.1822 - mse: 0.1822
Epoch 26/50
804/804 [==============================] - 0s 370us/step - loss: 0.1822 - mse: 0.1822
Epoch 27/50
804/804 [==============================] - 0s 385us/step - loss: 0.1823 - mse: 0.1823
Epoch 28/50
804/804 [==============================] - 0s 375us/step - loss: 0.1821 - mse: 0.1821
Epoch 29/50
804/804 [==============================] - 0s 383us/step - loss: 0.1821 - mse: 0.1821
Epoch 30/50
804/804 [==============================] - 0s 375us/step - loss: 0.1820 - mse: 0.1820
Epoch 31/50
804/804 [==============================] - 0s 385us/step - loss: 0.1821 - mse: 0.1821
Epoch 32/50
804/804 [==============================] - 0s 380us/step - loss: 0.1821 - mse: 0.1821
Epoch 33/50
804/804 [==============================] - 0s 375us/step - loss: 0.1819 - mse: 0.1819
Epoch 34/50
804/804 [==============================] - 0s 388us/step - loss: 0.1819 - mse: 0.1819
Epoch 35/50
804/804 [==============================] - 0s 383us/step - loss: 0.1818 - mse: 0.1818
Epoch 36/50
804/804 [==============================] - 0s 376us/step - loss: 0.1817 - mse: 0.1817
Epoch 37/50
804/804 [==============================] - 0s 371us/step - loss: 0.1819 - mse: 0.1819
Epoch 38/50
804/804 [==============================] - 0s 375us/step - loss: 0.1818 - mse: 0.1818
Epoch 39/50
804/804 [==============================] - 0s 375us/step - loss: 0.1818 - mse: 0.1818
Epoch 40/50
804/804 [==============================] - 0s 381us/step - loss: 0.1817 - mse: 0.1817
Epoch 41/50
804/804 [==============================] - 0s 370us/step - loss: 0.1819 - mse: 0.1819
Epoch 42/50
804/804 [==============================] - 0s 378us/step - loss: 0.1816 - mse: 0.1816
Epoch 43/50
804/804 [==============================] - 0s 394us/step - loss: 0.1816 - mse: 0.1816
Epoch 44/50
804/804 [==============================] - 0s 383us/step - loss: 0.1818 - mse: 0.1818
Epoch 45/50
804/804 [==============================] - 0s 414us/step - loss: 0.1816 - mse: 0.1816
Epoch 46/50
804/804 [==============================] - 0s 403us/step - loss: 0.1817 - mse: 0.1817
Epoch 47/50
804/804 [==============================] - 0s 386us/step - loss: 0.1816 - mse: 0.1816
Epoch 48/50
804/804 [==============================] - 0s 391us/step - loss: 0.1816 - mse: 0.1816
Epoch 49/50
804/804 [==============================] - 0s 409us/step - loss: 0.1816 - mse: 0.1816
Epoch 50/50
804/804 [==============================] - 0s 392us/step - loss: 0.1816 - mse: 0.1816

#### Alternative Model 2

In [65]:
# Define the the number of inputs (features) to the model
number_input_features = 115              ## removed the iloc as it kept giving an error 

# Review the number of features
number_input_features

115

In [66]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 64

In [67]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 50

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

50

In [68]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [69]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))


# Output layer
nn_A2.add(Dense(units=1, activation="linear"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 9)                 1044
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 10
=================================================================
Total params: 1,054
Trainable params: 1,054
Non-trainable params: 0
_________________________________________________________________

In [70]:
# Compile the model
nn_A2.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [71]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 0s 353us/step - loss: 1.1349 - mse: 1.1349
Epoch 2/50
804/804 [==============================] - 0s 345us/step - loss: 0.5206 - mse: 0.5206
Epoch 3/50
804/804 [==============================] - 0s 351us/step - loss: 0.3417 - mse: 0.3417
Epoch 4/50
804/804 [==============================] - 0s 343us/step - loss: 0.2667 - mse: 0.2667
Epoch 5/50
804/804 [==============================] - 0s 342us/step - loss: 0.2336 - mse: 0.2336
Epoch 6/50
804/804 [==============================] - 0s 346us/step - loss: 0.2173 - mse: 0.2173
Epoch 7/50
804/804 [==============================] - 0s 351us/step - loss: 0.2080 - mse: 0.2080
Epoch 8/50
804/804 [==============================] - 0s 349us/step - loss: 0.2035 - mse: 0.2035
Epoch 9/50
804/804 [==============================] - 0s 345us/step - loss: 0.1997 - mse: 0.1997
Epoch 10/50
804/804 [==============================] - 0s 340us/step - loss: 0.2023 - mse: 0.2023
Epoch 11/50
804/804 [==============================] - 0s 350us/step - loss: 0.1989 - mse: 0.1989
Epoch 12/50
804/804 [==============================] - 0s 348us/step - loss: 0.1967 - mse: 0.1967
Epoch 13/50
804/804 [==============================] - 0s 350us/step - loss: 0.1964 - mse: 0.1964
Epoch 14/50
804/804 [==============================] - 0s 352us/step - loss: 0.1980 - mse: 0.1980
Epoch 15/50
804/804 [==============================] - 0s 353us/step - loss: 0.1959 - mse: 0.1959
Epoch 16/50
804/804 [==============================] - 0s 354us/step - loss: 0.1950 - mse: 0.1950
Epoch 17/50
804/804 [==============================] - 0s 355us/step - loss: 0.1962 - mse: 0.1962
Epoch 18/50
804/804 [==============================] - 0s 356us/step - loss: 0.1927 - mse: 0.1927
Epoch 19/50
804/804 [==============================] - 0s 353us/step - loss: 0.1923 - mse: 0.1923
Epoch 20/50
804/804 [==============================] - 0s 351us/step - loss: 0.1917 - mse: 0.1917
Epoch 21/50
804/804 [==============================] - 0s 351us/step - loss: 0.1931 - mse: 0.1931
Epoch 22/50
804/804 [==============================] - 0s 351us/step - loss: 0.1926 - mse: 0.1926
Epoch 23/50
804/804 [==============================] - 0s 353us/step - loss: 0.1904 - mse: 0.1904
Epoch 24/50
804/804 [==============================] - 0s 353us/step - loss: 0.1888 - mse: 0.1888
Epoch 25/50
804/804 [==============================] - 0s 353us/step - loss: 0.1893 - mse: 0.1893
Epoch 26/50
804/804 [==============================] - 0s 357us/step - loss: 0.1892 - mse: 0.1892
Epoch 27/50
804/804 [==============================] - 0s 351us/step - loss: 0.1881 - mse: 0.1881
Epoch 28/50
804/804 [==============================] - 0s 354us/step - loss: 0.1877 - mse: 0.1877
Epoch 29/50
804/804 [==============================] - 0s 355us/step - loss: 0.1874 - mse: 0.1874
Epoch 30/50
804/804 [==============================] - 0s 355us/step - loss: 0.1886 - mse: 0.1886
Epoch 31/50
804/804 [==============================] - 0s 356us/step - loss: 0.1864 - mse: 0.1864
Epoch 32/50
804/804 [==============================] - 0s 354us/step - loss: 0.1862 - mse: 0.1862
Epoch 33/50
804/804 [==============================] - 0s 351us/step - loss: 0.1866 - mse: 0.1866
Epoch 34/50
804/804 [==============================] - 0s 351us/step - loss: 0.1867 - mse: 0.1867
Epoch 35/50
804/804 [==============================] - 0s 356us/step - loss: 0.1854 - mse: 0.1854
Epoch 36/50
804/804 [==============================] - 0s 351us/step - loss: 0.1857 - mse: 0.1857
Epoch 37/50
804/804 [==============================] - 0s 354us/step - loss: 0.1860 - mse: 0.1860
Epoch 38/50
804/804 [==============================] - 0s 349us/step - loss: 0.1851 - mse: 0.1851
Epoch 39/50
804/804 [==============================] - 0s 353us/step - loss: 0.1847 - mse: 0.1847
Epoch 40/50
804/804 [==============================] - 0s 349us/step - loss: 0.1857 - mse: 0.1857
Epoch 41/50
804/804 [==============================] - 0s 348us/step - loss: 0.1848 - mse: 0.1848
Epoch 42/50
804/804 [==============================] - 0s 349us/step - loss: 0.1847 - mse: 0.1847
Epoch 43/50
804/804 [==============================] - 0s 365us/step - loss: 0.1843 - mse: 0.1843
Epoch 44/50
804/804 [==============================] - 0s 376us/step - loss: 0.1849 - mse: 0.1849
Epoch 45/50
804/804 [==============================] - 0s 364us/step - loss: 0.1845 - mse: 0.1845
Epoch 46/50
804/804 [==============================] - 0s 383us/step - loss: 0.1841 - mse: 0.1841
Epoch 47/50
804/804 [==============================] - 0s 359us/step - loss: 0.1840 - mse: 0.1840
Epoch 48/50
804/804 [==============================] - 0s 362us/step - loss: 0.1843 - mse: 0.1843
Epoch 49/50
804/804 [==============================] - 0s 349us/step - loss: 0.1839 - mse: 0.1839
Epoch 50/50
804/804 [==============================] - 0s 354us/step - loss: 0.1837 - mse: 0.1837

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [57]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = model_loss, model_accuracy = model_loss, model_mse = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.1899 - mse: 0.1899
Loss: 0.18988637626171112, Accuracy: 0.18988637626171112

In [58]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =model_loss, model_accuracy = model_loss, model_mse = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.1852 - mse: 0.1852
Loss: 0.18516378104686737, Accuracy: 0.18516378104686737

In [59]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = model_loss, model_accuracy = model_loss, model_mse = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.1878 - mse: 0.1878
Loss: 0.18779820203781128, Accuracy: 0.18779820203781128

### Step 3: Save each of your alternative models as an HDF5 file.

In [60]:
# Set the file path for the first alternative model
file_path = Path("Resources/AlphabetSoup2.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [61]:
# Set the file path for the second alternative model
file_path = Path("Resources/AlphabetSoup3.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)